.jumbotron{
	background: #47b4e0;
	margin-bottom: 45px;
}

.mar45{
	margin-bottom: 45px;
}

#kamera{
	width: 300px;
}

.home_img{
	margin: 0 auto;
	width: 75%;
}

.home_select a{
	text-decoration: none;
}

.panel-primary{
	border-width: 2px;
	border-color: #47b4e0;
}

.panel-body{
	background: #fff;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border: 3px solid #47b4e0;
}

.panel-title{
	color: #fff;
	font-size: 24px;
}

.panel-heading{
	background: #fff !important;
}

.panel-default{
	border:none;
}

.panel-default:hover{
	border:none;
}

.panel-default:hover .panel-body{
	background: #47b4e0;
}

.panel-default:hover .panel-footer{
	background: #fff;
}

.panel-default:hover .panel-title{
	color: #47b4e0;
}
.panel-footer{
	border:3px solid #47b4e0;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	text-align: center;
	background: #47b4e0;
}
