::-webkit-scrollbar { 
    display: none; 
}

body{
	color: #000;
	background: #47b4e0;
}

.down_th{
	width: 19px;
}

.down_invisible{
	color: transparent;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none; 
}

.content{
	padding: 10px;
	background: #47b4e0;
}

.container{
	background-color: #47b4e0  !important;
	color: #fff !important;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.container_back{
	background-color: #fff  !important;
	padding-top: 40px;
}

.btn{
	color: #fff;
}

.btn:hover{
	background: rgba(105,174,194,0.25);
}

.btn-primary{
	background: #47b4e0;
    border: 2px solid #fff;
}

.btn-primary:hover {
	color: #47b4e0;
    background-color: #fff;
    border-color: #fff;
}

.btn-primary:active {
    background-color: #fff !important;
    border-color: #fff !important;
	color:#47b4e0 !important;
}

.btn_invert:hover{
	color: #000;
    background-color: #fff;
    border-color: #47b4e0;
}

.btn_invert:hover{
	color: #47b4e0 !important;
    background-color: #fff !important;
    border-color: #47b4e0 !important;
}

.btn-danger{
    background-color: #EF4836;
	border: 2px solid #fff;
}

.btn-danger:hover {
    background-color: #fff;
    border-color: #fff !important;
	color: #EF4836;
}

.btn-danger:active {
    background-color: #fff !important;
    border-color: #fff !important;
	color: #EF4836;
}

.disabled_2{
	background-color: #D3D3D3;
    border-color: #fff;
}

.disabled_2:hover{
	background-color: #D3D3D3;
    border-color: #fff;
	cursor: not-allowed;
}

.disabled_2:active{
	background-color: #D3D3D3 !important;
    border-color: #fff!important;
}

.comments{
	margin-left: -18px;
}

.comments .ask{
	width: 100%;
}

.comments .post{
	width: 100%;
}

.com{
	margin-top: 0px;
}

.selected{
	background: #47b4e0;
	color: #fff !important;
}

.comments #description{
	margin-bottom: 40px;
	margin-top: -10px;
}

.pager li a{
	border: none !important;
	padding: 0px;
}

.pager li a:hover{
	cursor: pointer;
}

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.thumb{
	width: 100%;
}

.col-sm-4{
	width:17%;
	display: inline-block;
}

form textarea {
    resize: none;
}

#titel{
	margin-bottom: 10px;
	margin-top: 50px;
}

#page_corr{
	margin-left: 0px;
	border: none;
	border-radius: 6px;
	background: none;
}

.downloads_dws{
	color:#fff;
}

.downloads_dws:hover{
	text-decoration: none;
	color:#fff;
	border-bottom: 1px solid #fff;
}

.down_con{
	
}

.table>tbody>tr>td{
	border-top: 1px solid #fff;
}
.table>thead>tr>th {
	    border-bottom: 2px solid #fff;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.yt-vid{
	border: 3px solid #fff;
	border-radius: 6px;
}

.kap_in{
	border: 2px solid #fff;
	border-radius: 6px !important;
}
