::-webkit-scrollbar { 
    display: none; 
}

body{
	background-image: url("../content/pics/pattern.png");
	background-repeat: repeat;
}

.down_th{
	width: 19px;
}

.down_invisible{
	color: transparent;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none; 
}

.content{
	padding: 10px;
}

.btn{
	color: #fff;
}

.btn:hover{
	background: rgba(105,174,194,0.25);
}

.btn-primary{
    background-color: #69AEC2;
    border-color: #69AEC2;
}

.btn-primary:hover {
    background-color: #3F8DA3;
    border-color: #3F8DA3;
}

.btn-primary:active {
    background-color: #257C95 !important;
    border-color: #257C95 !important;
}

.btn-danger{
    background-color: #EF4836;
    border-color: #EF4836;
}

.btn-danger:hover {
    background-color: #D02311;
    border-color: #D02311;
}

.btn-danger:active {
    background-color: #A41203 !important;
    border-color: #A41203 !important;
}

.disabled_2{
	background-color: #D3D3D3;
    border-color: #D3D3D3;
}

.disabled_2:hover{
	background-color: #D3D3D3;
    border-color: #D3D3D3;
	cursor: not-allowed;
}

.disabled_2:active{
	background-color: #D3D3D3 !important;
    border-color: #D3D3D3 !important;
}

.panel-primary{
	border-width: 2px;
	border-color: #3F8DA3;
}

.comments{
	margin-left: -18px;
}

.comments .ask{
	width: 100%;
}

.comments .post{
	width: 100%;
}

.com{
	margin-top: 0px;
}

.selected{
	background: rgba(105,174,194,0.5);
}

.comments #description{
	margin-bottom: 40px;
	margin-top: -10px;
}

.pager li a{
	border: none !important;
	padding: 0px;
}

.pager li a:hover{
	cursor: pointer;
}

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.thumb{
	width: 100%;
}

.col-sm-4{
	width:17%;
	display: inline-block;
}

form textarea {
    resize: none;
}

#ab{
	margin-bottom: 75px !important;
}

#titel{
	margin-bottom: 10px;
	margin-top: 50px;
}


