.menu_top{
	height:50px;
	margin-bottom: -20px;
}

.menu_top a{
	color: #000;
}

#title_name{
	font-size: 18px;
}

#title_name:hover{
	cursor: default !important;
	background: none !important;
}

#header a{
	color: #000;
}

#header a:hover{
	cursor: pointer;
	background: rgba(105,174,194,0.25);
}

#nbAcctDD{
	background: #69AEC2;
	color: #fff !important;
}

#nbAcctDD:hover{
    background-color: #3F8DA3 !important;
}

.nohover a:hover{
	background: rgba(0,0,0,0) !important;
}

.navbar-brand_top{
	font-size: 13px;
}
.navbar_center .navbar-header{
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar_center {
  text-align: center;
}
